<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            No.
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nama training
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Paket
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Harga
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Email
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Status
        </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <% for(let i = 0; i < confirmation.length; i++) { %>
            <% if(confirmation[i].status === "success") { %>
            <% } else { %>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= i + 1 %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= confirmation[i].historyTraining.trainingName %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= confirmation[i].historyTraining.package %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= confirmation[i].historyTraining.price %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= confirmation[i].user.email %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <% if(confirmation[i].status === "pending") { %>
                            <p class="text-orange-500 font-semibold">
                                <%= confirmation[i].status %>
                            </p>
                        <% } else if(confirmation[i].status === "failed") { %>
                            <p class="text-red-600 font-semibold">
                                <%= confirmation[i].status %>
                            </p>
                        <% } else { %>
                            <p class="text-green-500 font-semibold">
                                <%= confirmation[i].status %>
                            </p>
                        <% } %>
                    </td>
                    <td class="p-5">
                        <% if(confirmation[i].status === "pending") { %>
                            <form action="/confirmation/status/<%= confirmation[i]._id %>?status=failed&_method=PUT" style="display: inline-block" method="POST">
                                <button class="p-2 px-4 font-semibold text-white rounded-sm text-sm bg-red-600">
                                    Tolak
                                </button>
                            </form>
                
                            <form action="/confirmation/status/<%= confirmation[i]._id %>?status=success&_method=PUT" style="display: inline-block" method="POST">
                                <button class="p-2 px-4 font-semibold text-white rounded-sm text-sm bg-green-700">
                                    Terima
                                </button>
                            </form>
                        <% } else if(confirmation[i].status === "failed") { %>
                            <form action="/confirmation/status/<%= confirmation[i]._id %>?status=failed&_method=PUT" style="display: inline-block" method="POST">
                                <button class="p-2 px-4 font-semibold text-white rounded-sm text-sm bg-red-600">
                                  Tolak
                                </button>
                            </form>
                  
                            <form action="/confirmation/status/<%= confirmation[i]._id %>?status=success&_method=PUT" style="display: inline-block" method="POST">
                                <button class="p-2 px-4 font-semibold text-white rounded-sm text-sm bg-green-700">
                                  Terima
                                </button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>